@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860

    https://stackoverflow.com/questions/8002059/asp-net-mvc-display-template-for-a-collection
    https://www.codeguru.com/csharp/.net/net_asp/mvc/using-display-templates-and-editor-templates-in-asp.net-mvc.htm
    http://bradwilson.typepad.com/blog/2009/10/aspnet-mvc-2-templates-part-3-default-templates.html

    Nodel metadata provider: http://www.michael-whelan.net/using-humanizer-with-asp-dotnet-core/

    //Microsoft.AspNetCore.Mvc.ModelBinding.Metadata.DisplayMetadataProviderContext
*@

@using System.Globalization

<div>    
    <div class="timings">@ViewBag.Duration.ToString(@"m\:s\:fffffff", CultureInfo.InvariantCulture) ms</div>
    @Html.DisplayForModel()
</div>