@model AlgoPuzzles.Models.Registry

@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script type="text/javascript">
    </script>
}
@{ var index = 0; }

<div class="row">
    <div id="tabs" class="col-xs-12" style="display: none">
        <ul class="tab-list" role="tablist">
            @foreach (var algo in Model.Algorithms)
            {
                <li role="tab"><a asp-controller="" asp-action="algorithm" asp-route-id="@(index++)"><span title="@algo.Name">@algo.Name</span></a></li>
            }
        </ul>        
    </div>
</div>
