@model AlgoPuzzles.Models.Registry

@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script type="text/javascript">        
    </script>
}

<div class="row">
    <div id="tabs" class="col-xs-12">
        <ul class="tab-list">
            @{ var index = 0; }
            @foreach (var algo in Model.Algorithms)
            {
                <li><a asp-controller="" asp-action="algorithm" asp-route-id="@(index++)"><span title="@algo.Name">@algo.Name</span></a></li>
            }
        </ul>        
    </div>
</div>
