@using System;
@using System.Globalization;
@using System.ComponentModel;

@functions {
}

@{
    var arr = (Array)Model;
    var convertor = TypeDescriptor.GetConverter(arr.GetType().GetElementType());
}
<table class="table table-striped table-nonfluid">
    <tbody>
        @for (var i = arr.GetLowerBound(0); i <= arr.GetUpperBound(0); ++i)
        {
            <tr>
                @for (var j = arr.GetLowerBound(1); j <= arr.GetUpperBound(1); ++j)
                {
                    <td>@convertor.ConvertToString(arr.GetValue(i, j))</td>
                }
            </tr>
        }
    </tbody>
</table>